/*
===========================================COLOR DEFAUT============================================
*/

.bg-custom1 {
    background-color: #faa916 !important;
}

.bg-custom2 {
    background-color: #fbfffe !important;
}

.bg-custom3 {
    background-color: #6d676e !important;
}

.color-custom1 {
    color: #faa916 !important;
}

.color-custom2 {
    color: #fbfffe !important;
}

.color-custom3 {
    color: #6d676e !important;
}

.border-custom1 {
    border: 1px solid #faa916 !important;
}

.border-custom2 {
    border: 1px solid #fbfffe !important;
}

.border-custom3 {
    border: 1px solid #6d676e !important;
}

.border-bottom-custom2 {
    border-bottom: 1px solid #fbfffe !important;
}

/*
===========================================NAVBAR============================================
*/
.fixedBar {
    position: fixed;
    top : 0;
    width : 100%;
    z-index: 999;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.shopping-bag-container .pos-mobile {
    right: -15px;
    top: -5px;
    font-size: 15px;
}

/*
===========================================PROFIL============================================
*/

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.avatar {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.btn-profil {
    width: 165px;
}

.account-toggle-button {
    background: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-top: 20px;
}

.account-toggle-button:focus {
    outline: none;
}

.account-toggle-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}

.account-toggle-button .active-bg {
    background-color: #faa916;
}

.account-toggle-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.account-toggle-button.active span:nth-child(1) {
    background-color: #faa916;
}

.account-toggle-button.active span:nth-child(2) {
    left: 65px;
}

.account-toggle-button span:nth-child(2) i:nth-child(1) {
    display: block;
}

.account-toggle-button span:nth-child(2) i:nth-child(2) {
    display: none;
}

.account-toggle-button.active span:nth-child(2) i:nth-child(1) {
    display: none;
}

.account-toggle-button.active span:nth-child(2) i:nth-child(2) {
    display: block;
}

/**
===========================================LISTE DES PRODUITS============================================
 */

.num-block {
    float: left;
    width: 100%;
    align-content: center;
}

.skin-7 .num-in {
    float: left;
    width: 138px;
    border: 1px solid #a4a4a3;
}

.skin-7 input.in-num {
    font-size: 14px;
    float: left;
    height: auto;
    width: 83px;
    border-left: 1px solid #a4a4a3;
    border-right: 1px solid #a4a4a3;
    background-color: #fff;
    text-align: center;
}

.skin-7 .num-in span  {
    font-size: 24px;
    text-align: center;
    display: block;
    width: 46px;
    float: left;
    height: auto;
    background-color: #f4f4f6;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.skin-7 .num-in span:hover {
    background-color: #d7d7d8;
}

.skin-7 .num-in input {
    border: none;
    float: left;
    width: 44px;
    line-height: 34px;
    text-align: center;
}

.card-body .btn-block:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

.product-category-menu {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 110px;
}

.product-category-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.product-category-menu a:hover {
    color: #f1f1f1;
}

.product-category-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: fixed;
    z-index: 2;
    top: 1150px;
    left: -10px;
    transform: rotate(-90deg);
    transform-origin: left top;
    transition: left 0.5s;
    height: 70px;
}

.arrow-icon {
    transition: transform 0.5s;
}

.openbtn:not(.menu-open):hover .left-arrow,
.openbtn:not(.menu-open):hover .right-arrow {
    transform: translateY(17px);
}

.openbtn.menu-open .left-arrow,
.openbtn.menu-open .right-arrow {
    transform: rotate(180deg);
}

.openbtn.menu-open:hover .left-arrow,
.openbtn.menu-open:hover .right-arrow {
    transform: rotate(180deg) translateY(17px);
}

/*
===========================================PANIER============================================
*/

.table-custom {
    border-collapse: collapse;
    max-width: 1000px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-custom th {
    background-color: #6c757d;
    color: white;
    padding: 1rem;
}

.table-custom td {
    border: 1px solid #ddd;
    padding: 1rem;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-custom .description {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-custom .quantity {
    width : 105px;
    position: relative;
    overflow: visible;
}

.table-custom .delete-item {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    z-index: 1;
}

.table-custom .col-1 {
    width: 20%;
}

.table-custom .col-2 {
    width: 50%;
}

.table-custom .col-3 {
    width: 10%;
}

.table-custom .col-4 {
    width: 10%;
}

.table-custom .col-5 {
    width: 10%;
}

.pointer {
    cursor: pointer;
}

@keyframes modalZoomIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal.fade.show .modal-dialog {
    animation: modalZoomIn 0.3s ease-out;
}

/*
===========================================MOBILE============================================
*/


/*
===========================================ADRESSE_DE_LIVRAISON=========================================================
*/

.billing-field {
    display: none;
}

/*
===========================================MESSAGE_FLASH============================================
 */

.alert-success { background-color: #d4edda; }

.alert-error { background-color: #f8d7da; }

.alert-info { background-color: #d1ecf1; }

.alert-warning { background-color: #fff3cd; }


/*
===========================================MODE_DE_PAIEMENT=============================================================
 */

.carte {
    width: 350px;
    height: 220px;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(0, 123, 255, 0.8), rgba(0, 198, 255, 0.8)), url('../img/payment/background_cardship.jpg');
    background-size: cover, 400px;
    background-repeat: no-repeat;
    background-position: center, right bottom;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.carte .logo {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    letter-spacing: 1px;
}

.carte .puce {
    width: 60px;
    height: 40px;
    background: gold;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte .puce::before, .carte .puce::after {
    content: "";
    display: block;
    width: 80%;
    height: 6px;
    background: black;
    margin: 2px 0;
}

.carte .numero {
    font-size: 1.2em;
    letter-spacing: 3px;
    margin-top: 100px;
}

.carte .details {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 35px;
    width: 100%;
    right: 0;
    padding: 0 20px;
    font-size: 0.8em;
}

.carte .details .titulaire,
.carte .details .expiration {
    text-transform: uppercase;
}

.carte .reseau {
    position: absolute;
    bottom: 35px;
    right: 75px;
    display: flex;
    align-items: center;
}

.carte .reseau .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

.carte .reseau .circle.orange {
    background-color: #FF5F00;
    right: -40px;
    bottom: -30px;
}

.carte .reseau .circle.red {
    background-color: #EB001B;
    left: 30px;
    bottom: -30px;
}

.carte .reseau .text {
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    right: -70px;
    top: 12px;
}

.payment-options .payment-option {
    padding: 10px;
    cursor: pointer;
}

.payment-options .payment-option:nth-child(odd) {
    background-color: #f8f9fa; /* Couleur grise claire */
}

.payment-options .payment-option:nth-child(even) {
    background-color: #ffffff; /* Couleur blanche */
}

.payment-options .payment-option:hover {
    background-color: #e2e6ea; /* Couleur au survol */
}

.order-summary {
    width: 100%;
    margin-top: 15px;
}

.order-summary th, .order-summary td {
    padding: 10px;
    border: 1px solid #ddd;
}

.order-summary thead {
    background-color: #f8f9fa;
}

.total {
    text-align: right;
}
