/*
===========================================COLOR DEFAUT============================================
*/

.bg-custom1 {
    background-color: #faa916 !important;
}

.bg-custom2 {
    background-color: #fbfffe !important;
}

.bg-custom3 {
    background-color: #6d676e !important;
}

.color-custom1 {
    color: #faa916 !important;
}

.color-custom2 {
    color: #fbfffe !important;
}

.color-custom3 {
    color: #6d676e !important;
}

.border-custom1 {
    border: 1px solid #faa916 !important;
}

.border-custom2 {
    border: 1px solid #fbfffe !important;
}

.border-custom3 {
    border: 1px solid #6d676e !important;
}

.border-bottom-custom2 {
    border-bottom: 1px solid #fbfffe !important;
}

/*
===========================================NAVBAR============================================
*/
.fixedBar {
    position: fixed;
    top : 0;
    width : 100%;
    z-index: 999;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.shopping-bag-container .pos-mobile {
    right: -15px;
    top: -5px;
    font-size: 15px;
}

/*
===========================================PROFIL============================================
*/

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.avatar {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.btn-profil {
    width: 165px;
}

/**
===========================================LISTE DES PRODUITS============================================
 */

.num-block {
    float: left;
    width: 100%;
    align-content: center;
}

.skin-7 .num-in {
    float: left;
    width: 138px;
    border: 1px solid #a4a4a3;
}

.skin-7 input.in-num {
    font-size: 14px;
    float: left;
    height: auto;
    width: 83px;
    border-left: 1px solid #a4a4a3;
    border-right: 1px solid #a4a4a3;
    background-color: #fff;
    text-align: center;
}

.skin-7 .num-in span  {
    font-size: 24px;
    text-align: center;
    display: block;
    width: 46px;
    float: left;
    height: auto;
    background-color: #f4f4f6;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.skin-7 .num-in span:hover {
    background-color: #d7d7d8;
}

.skin-7 .num-in input {
    border: none;
    float: left;
    width: 44px;
    line-height: 34px;
    text-align: center;
}

.card-body .btn-block:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

.product-category-menu {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 110px;
}

.product-category-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.product-category-menu a:hover {
    color: #f1f1f1;
}

.product-category-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: fixed;
    z-index: 2;
    top: 1150px;
    left: -10px;
    transform: rotate(-90deg);
    transform-origin: left top;
    transition: left 0.5s;
    height: 70px;
}

.arrow-icon {
    transition: transform 0.5s;
}

.openbtn:not(.menu-open):hover .left-arrow,
.openbtn:not(.menu-open):hover .right-arrow {
    transform: translateY(17px);
}

.openbtn.menu-open .left-arrow,
.openbtn.menu-open .right-arrow {
    transform: rotate(180deg);
}

.openbtn.menu-open:hover .left-arrow,
.openbtn.menu-open:hover .right-arrow {
    transform: rotate(180deg) translateY(17px);
}

/*
===========================================PANIER============================================
*/

.table-custom {
    border-collapse: collapse;
    max-width: 1000px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-custom th {
    background-color: #6c757d;
    color: white;
    padding: 1rem;
}

.table-custom td {
    border: 1px solid #ddd;
    padding: 1rem;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-custom .description {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-custom .quantity {
    width : 105px;
    position: relative;
    overflow: visible;
}

.table-custom .delete-item {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    z-index: 1;
}

.table-custom .col-1 {
    width: 20%;
}

.table-custom .col-2 {
    width: 50%;
}

.table-custom .col-3 {
    width: 10%;
}

.table-custom .col-4 {
    width: 10%;
}

.table-custom .col-5 {
    width: 10%;
}

.pointer {
    cursor: pointer;
}

@keyframes modalZoomIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal.fade.show .modal-dialog {
    animation: modalZoomIn 0.3s ease-out;
}

/*
===========================================MOBILE============================================
*/


/*
===========================================ADRESSE_DE_LIVRAISON=========================================================
*/

.billing-field {
    display: none;
}

/*
===========================================MESSAGE_FLASH============================================
 */

.alert-success { background-color: #d4edda; }

.alert-error { background-color: #f8d7da; }

.alert-info { background-color: #d1ecf1; }

.alert-warning { background-color: #fff3cd; }
