<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Succès</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Produit ajouté au panier avec succès.
            </div>
            <div class="modal-footer">
                <a href="{{ path("app_basket") }}" class="btn btn-info">Voir mon panier</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer mes achats</button>
            </div>
        </div>
    </div>
</div>
