<h1 class="text-center mb-2">
Mon panier
</h1>
<div class="container">
    <div class="row">
        <table class="table-custom">
            <thead>
            <tr>
                <th>Articles</th>
                <th>Description</th>
                <th>Catégorie</th>
            </tr>
            </thead>
            <tbody>
            {% for item in basketItems %}
                <tr>
                    <td>
                        {{ item.product.title }}
                    </td>
                    <td class="description">
                        {{ item.product.description }}
                    </td>
                    <td class="quantity text-center">
                        {{ item.quantity }}
                        <a href="{{ path('delete_item', {'id' : item.id }) }}" class="delete-item border p-2 shadow text-danger pointer bg-white">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
