<div class="container w-50 mx-auto border shadow text-center">
    <h1 class="m-5">Votre panier est vide</h1>
    <div class="text-center m-5" style="font-size: 90px;">
        <i class="fa-regular fa-face-sad-cry"></i>
    </div>
</div>
